body {
    background: linear-gradient(to bottom,#E4F3E3 , #5CA9E9);
    font-family: Arial, sans-serif;
  
    background-size: cover; 
    background-position: center;
}

.head {
    background: linear-gradient(to bottom, #5CA9E9 , #2969a4); 
    padding: 30px 20px; 
    text-align: center;
    color: white; 
}

.center-text {
    text-align: center;
    margin-bottom: 30px; 
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 30px;
}

.box {
    background-color: #E0F2F7;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 20px;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option label,
.option select {
    margin-right: 10px;
    font-size: 16px;
}


.box .box-content {
    display: none; 
}

.box.expanded .box-content {
    display: block;
}


